*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.main-container{
display: flex;
justify-content: center;
margin-top: 20px;
gap: 4px;
flex-wrap: wrap;
}
  

.flex-container1{
    width: 500px;
height: 220px;
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
/* align-items: center; */
/* gap: 2px;  */
position: relative;
background-color: dimgray;


}


.item1{
    width: 245px;
    height: 100px;
    margin-right: 2px;
    background-color: rgb(221, 0, 0);
    position: absolute;
    top: 230px;
    flex-shrink: 3;
    flex-grow: 0;
}

.item2{
    width: 245px;
    height: 100px;
    margin-left:1px;
    background-color: rgb(255, 251, 0);
    position: absolute;
    top: 230px;
    left: 253px;
    flex-shrink: 3;
    flex-grow: 0;

    
}


.item3{
    width: 400px;
    height: 330px;
     background-color: rgb(17, 93, 255);
 }

 .sec-cont{
display: flex;
justify-content: center;
flex-wrap: wrap;
 }

 .secitem1{
    width: 500px;
    height: 220px;
    margin-top: 20px;
    margin-right: 4px;
    background-color: rgb(182, 178, 178);
 }

 .secitem2{
display: flex;
flex-direction: column;
gap: 4px;
margin-top: 20px;
flex-wrap: wrap;
 }

 .secitem3{
    width: 400px;
    height: 108px;
    background-color: rgb(212, 16, 16);
 }

 .container3{
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 10px;
     gap: 4px;
     flex-wrap: wrap;
 }

 .third-item{
     width: 109px;
     height: 100px;
     background-color: dimgray;
 }